@import "~@/lib/common.less";

.shadow {
    box-shadow: 5px 5px 10px #ccc
}

.content_area {
    .main {
        width: 1190px;
        margin: 0 auto;

        .textintro {
            background-color: #ebebeb;
            padding: 20px;
            display: flex;

            .textintro_left {
                .textintro_text {
                    color: #777;
                }
            }

            .textintro_right {
                padding: 50px 0 0 360px;

                .experience_bth {
                    width: 150px;
                    height: 40px;
                }
            }
        }

        .tch_sup {
            padding: 20px;
            border: 1px solid #e4e7ef;
            margin: 30px 0 0 0;
            width: 100%;

            .tch_sup_title {
                font-size: 22px;
            }

            .ch_sup_img_box {
                background-color: #ebebeb;
                width: 100%;
                padding: 20px;
                display: flex;
                justify-content: center;

                .ch_sup_img_item {
                    background-color: #fff;
                    padding: 20px;
                    font-size: 20px;
                    margin: 0 30px;
                    border: 1px solid #ccc;
                }
            }
        }

        .advantage {
            padding: 20px;
            border: 1px solid #e4e7ef;
            margin: 30px 0 0 0;
            width: 100%;

            .advantage_title {
                font-size: 22px;
            }

            .advantage_content_box {
                background-color: #ebebeb;
                width: 100%;
                padding: 20px;
                display: flex;
                justify-content: center;

                .advantage_content_item {
                    background-color: #fff;
                    padding: 20px;
                    font-size: 20px;
                    margin: 0 30px;
                    border: 1px solid #ccc;
                    width: 300px;

                    .advantage_content_item_title {
                        font-size: 18px;
                        margin: 0;
                    }

                    .advantage_content_item_text {
                        font-size: 14px;
                        color: #777;
                    }
                }
            }
        }

        .textsys {
            background-color: #ebebeb;
            padding: 20px;
            display: flex;
            margin-top: 30px;

            .textsys_left {
                .textsys_text {
                    color: #777;
                }
            }

            .textsys_right {
                padding: 50px 0 0 300px;

                .experience_bth {
                    width: 150px;
                    height: 40px;
                }
            }
        }

        .textsys_manual {
            padding: 20px;
            border: 1px solid #e4e7ef;
            margin: 30px 0 0 0;
            width: 100%;

            .textsys_manual_item {
                background-color: #fff;
                padding: 20px;
                font-size: 20px;
                margin: 10px 0px;
                border: 1px solid #ccc;
                .textsys_manual_item_title {
                    font-size: 18px;
                    margin: 0;
                }

                .textsys_manual_item_text {
                    font-size: 14px;
                    color: #777;
                }
            }
        }
    }
}